@use "/css/layout";

.button {
  border: 1px solid #000;
  border-radius: 8px;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  grid-column-gap: 16px;
  align-items: center;
  justify-items: center;
  justify-content: center;
  min-width: 210px;
  height: 70px;
  font-size: 18px;
  font-weight: 700;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.4s;
  direction: ltr;

  background: linear-gradient(
    45deg,
    #00a2fd 0%,
    #00a2fd 50%,
    #f5f5f5 50%,
    #f5f5f5 100%
  );

  background-size: 300% 100%;
  background-position-x: right;

  svg {
    position: relative;
    transition: all 0.4s;
  }

  &:hover {
    background-position-x: left;
    color: #fff;

    svg {
      transition: all 0.4s;
      fill: #fff;
      transform: translateX(4px);
    }
  }

  @media (max-width: layout.$tabletWidth) {
    font-size: 16px;
    min-width: 180px;
    height: 60px;
    transition: all 0.4s;
  }
}

.link {
  text-decoration: none;
}
