@use "/css/layout";

.projectTitle {
  @extend %grid;
  background: var(--background-gray);
}

.projectTitleInner {
  grid-column: content;

  h1 {
    font-size: 100px;
    font-weight: 900;
    line-height: 100px;
    text-align: center;
    margin: 50px 0 20px 0;

    @media (max-width: layout.$tabletWidth) {
      font-size: 46px;
      margin: 10px 0 10px 0;
    }
  }
}

.main {
  @extend %grid;
  padding: 60px 0 0 0;
}

.mainInner {
  grid-column: content;
}

.content {
  display: grid;
  grid-template-columns: 1fr max-content max-content;
  grid-gap: 48px;
  padding-bottom: 90px;
  @media (max-width: layout.$tabletWidth) {
    grid-template-columns: 1fr;
    grid-row-gap: 30px;
    padding-bottom: 30px;
  }
}

.column {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 24px;
  grid-auto-rows: max-content;

  h4 {
    font-size: 22px;
    font-weight: 500;
  }

  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
  }
}

.imageList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 24px;
  padding-bottom: 80px;

  @media (max-width: layout.$tabletWidth) {
    padding-bottom: 50px;
  }

  img {
    border-radius: 7px;
    max-width: 100%;
    height: auto;
  }
}

.relatedProjects {
  h3 {
    font-size: 40px;
    font-weight: 500;
    line-height: 1.25;
    margin-bottom: 50px;

    @media (max-width: layout.$tabletWidth) {
      font-size: 26px;
      margin-bottom: 24px;
    }
  }
}

.relatedProjectsList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
  padding-bottom: 50px;

  @media (max-width: layout.$mobileWidth) {
    grid-template-columns: 1fr;
  }
}

.imgWide {
  grid-column: span 2;
}

.imgDouble {
  grid-column: span 2;
  grid-row: span 2;
}
