@use "/css/layout";

.profileTop {
  @extend %grid;
  background: #000;
  min-height: 740px;
  overflow: clip;
}

.profileTopInner {
  grid-column: content;
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-column-gap: 50px;
  align-items: center;
  position: relative;
  z-index: 0;

  @media (max-width: layout.$tabletWidth) {
    grid-template-columns: 1fr;
  }
}

.blueRectangle {
  background: var(--blue);
  width: 100vw;
  height: 560px;
  position: absolute;
  left: 50%;
  top: 60px;
  z-index: -1;

  @media (max-width: layout.$tabletWidth) {
    left: 50px;
    top: 360px;
  }
}

.profileTopText {
  @media (max-width: layout.$tabletWidth) {
    padding: 24px 0;
  }

  h4 {
    color: var(--background-gray);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 20px;

    @media (max-width: layout.$tabletWidth) {
      font-size: 16px;
    }
  }

  h1 {
    color: var(--background-gray);
    font-size: 98px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-bottom: 20px;

    @media (max-width: layout.$tabletWidth) {
      font-size: 46px;
    }
  }

  p {
    color: var(--background-gray);
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.375;
    max-width: 600px;
    text-align: left;

    @media (max-width: layout.$tabletWidth) {
      font-size: 26px;
    }
  }
}

.profileTopRightSide {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 15px;
  justify-items: end;
  align-items: start;
}

.profileImage {
  border-radius: 7px;
}

.socialIcon {
  width: 30px;
  height: 30px;
  display: block;
}

.actionButton {
  margin-top: 140px;

  @media (max-width: layout.$tabletWidth) {
    margin-top: 30px;
    margin-bottom: 24px;
  }
}

.main {
  @extend %grid;
  background: var(--background-gray);
}

.mainInner {
  grid-column: content;
  padding: 80px 0;

  @media (max-width: layout.$tabletWidth) {
    padding: 40px 0;
  }

  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 0.5em;
  }

  h3 {
    font-size: 22px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 0.5em;
    margin-top: 2em;
  }
}
