@use "/css/layout";

.navigation {
  @extend %grid;
  border-bottom: 1px solid var(--separator-gray);
  background: var(--background-gray);

  @media (max-width: layout.$tabletWidth) {
    border-bottom: none;
  }
}

.navigationInner {
  grid-column: content;
  display: grid;
  grid-template-columns: auto max-content;
  height: 80px;
  align-items: center;

  a {
    text-decoration: none;
    color: #000;
    transition: all 0.4s;

    &:hover {
      color: var(--blue);
    }
  }
}

.logo {
  display: inline-block;
}

.menu {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  grid-column-gap: 20px;

  @media (max-width: layout.$tabletWidth) {
    display: none;
  }

  a {
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    transition: all 0.4s;
    color: #000;

    &:hover {
      color: var(--blue);
    }
  }
}

.selectedMenuItem {
  color: var(--blue) !important;
}

.navigationBottom {
  grid-column: full-width;
  height: 60px;
  background: var(--background-gray);

  @media (max-width: layout.$tabletWidth) {
    height: 0;
  }
}

.mobileMenuBtn {
  display: none;

  @media (max-width: layout.$tabletWidth) {
    display: block;
  }

  button {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    border: none;
    cursor: pointer;
    background: transparent;
  }
}

.mobileMenuOverlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #fff;
  z-index: 9999;
  transform: translateX(110%);
  transition: all 0.8s;
}

.mobileMenuOpen {
  transform: translateX(0%);
}

.mobileOverlayHeader {
  width: 100%;
  height: 80px;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: end;
  align-items: center;
  background: transparent;
  padding: 0 20px;

  button {
    background: transparent;
    border: none;
    cursor: pointer;
  }
}

.mobileOverlayMain {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 24px;
  align-content: start;
  align-items: start;
  justify-items: center;
  height: calc(100dvh - 80px);

  .title {
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 24px;
  }

  a {
    display: grid;
    height: 60px;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    border: 2px solid #000;
    border-radius: 8px;
    text-decoration: none;
    width: 100%;
    max-width: 210px;
    transition: all 0.4s;
    font-size: 18px;
    font-weight: 700;

    &:hover {
      color: var(--blue);
      border: 1px solid var(--blue);
    }
  }
}

.selectedMobileMenuItem {
  color: #fff;
  background: #000;
}
