@use "/css/layout";

.pageTitle {
  @extend %grid;
  background: var(--background-gray);
}

.pageTitleInner {
  grid-column: content;

  h1 {
    font-size: 100px;
    font-weight: 900;
    line-height: 1;
    text-align: center;
    padding: 0.5em 0 0.3em 0;

    @media (max-width: layout.$tabletWidth) {
      font-size: 46px;
      margin: 10px 0 10px 0;
    }
  }
}

.portfolioHub {
  @extend %grid;
}

.portfolioHubInner {
  grid-column: content;
  min-height: 70vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: max-content;
  grid-gap: 24px;
  padding: 40px 0;

  @media (max-width: layout.$tabletWidth) {
    font-size: 46px;
    min-height: 30vh;
  }
}
