.projectItem {
  width: 100%;
  aspect-ratio: 1/1;
  background: #656261;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  border-radius: 6px;
  font-size: 40px;
  line-height: 1.4;
  color: #fff;
  text-decoration: none;
  padding: 70px;
  box-sizing: border-box;
  text-align: center;
  font-weight: 400;
}
